<%- include("partials/header"); %>

<div class="w-2/3 mx-auto">
  <h1 class="about_heading">About</h1>
  <p class="about_content"><%= AContent %></p>
</div>

<div class="person flex flex-row w-2/3 my-10 mx-auto px-10">
  <img src="./images/front.png" alt="frontend" class="h-40 w-52" />
  <div>
    <span class="text-primary text-xl font-bold">About Front End Used</span>
    <p class="w-3/2">
      The website is created using HTML, CSS and JavaScript. But for the
      templating system we used EJS templating system. EJS stands for Embedded
      JavaScript. Even though we can use our regular scripting tags for using
      javascript we still need to reduce the code which was possible through
      EJS.
    </p>
  </div>
</div>

<div class="person flex flex-row-reverse w-2/3 my-10 mx-auto px-10">
  <img src="./images/back.png" alt="backend" class="h-50 w-52" />
  <div>
    <span class="text-primary text-xl font-bold">About Back End Used</span>
    <p class="w-3/2">
      This website backend is created using different JavaScript frameworks such
      as Node.js for creating modules, Express.js for creating and running
      servers, Mongoose.js for creating database queries and lastly a
      combination of express-session.js and Passport.js for creating sessions
      and authentication. Backend data is stored in MongoDB.
    </p>
  </div>
</div>

<%- include("partials/footer"); %>
