<%- include("partials/header"); %>

<form
  id="post_form"
  class="bg-secondary flex flex-col my-20 mx-auto p-8 w-4/5 border-none shadow-lg shadow-staticPri rounded-lg"
  action="/posts/<%= postId%>/comment"
  method="post"
>
  <label class="text-xl font-Nunito pt-6" for="inputdefault"
    >Write a comment about the post</label
  >
  <textarea
    class="text-lg p-2"
    id="textAreaExample"
    name="commentPost"
    rows="4"
    placeholder="comment..."
  ></textarea>
  <div class="flex justify-end pt-6">
    <button
      id="publish__btn"
      class="w-auto h-auto rounded-lg font-Kaushan text-2xl py-3 px-6"
      type="submit"
      name="button"
    >
      Comment Now!
    </button>
  </div>
</form>

<%- include("partials/footer"); %>
