<%- include("partials/header") %>
<form method="post">
  <h1 class="post-heading"><%= postTitle %></h1>
  <p class="post-content"><%= postContent %></p>
  <button class="delete-button" type="submit">Delete This post</button>
</form>
<%- include("partials/footer") %>
